.contacts-list {
	min-height: 100%;
}

contactlist .tooltip {
	max-width: 75%;
}

.app-content-list-item-failed {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -15px;
	opacity: 0.2;
	width: 30px;
	height: 30px;
	z-index: 50;
}

.app-content-list-item-failed:hover {
	opacity: 0.5;
}

.app-content-list-item-failed ~ .app-content-list-item-line-one,
.app-content-list-item-failed ~ .app-content-list-item-line-two {
	padding-right: 50px;
}

.contact__icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
	object-fit: cover;
}

.icon-group {
	background-image: url('../img/group.svg');
}

/* Mobile width < 768px */
@media only screen and (max-width: 768px) {
	.contacts-list:not(.mobile-show) {
		display: none;
	}

	#app-content-wrapper {
		.app-content-list {
			display: block;
		}
		.app-content-detail {
			display: none;
		}
	}

	#app-navigation-toggle.showdetails {
		transform: translate(-50px, 0);
		+ #app-content-wrapper {
			.app-content-list {
				display: none;
			}
			.app-content-detail {
				display: block;
			}
		}
	}

	#app-navigation-toggle-back {
		position: fixed;
		display: inline-block !important;
		top: 45px;
		left: 0;
		width: 44px;
		height: 44px;
		z-index: 149;
		background-color: rgba(255, 255, 255, .7);
		cursor: pointer;
		opacity: .6;
		transform: rotate(90deg);
	}

	/* end of media query */
}
