#app-navigation {
	position: relative;
}

#app-navigation .utils .action span {
	cursor: pointer !important;
}

#app-navigation .utils .action {
	opacity: .5;
}

#app-navigation .utils .action:hover,
#app-navigation .utils .action:focus {
	opacity: 1;
}

#app-navigation > ul {
	height: calc(100% - 68px);
}

/* Contacts List */
#new-contact-button {
	margin: 14px auto; /* to have the same height than a contact*/
	width: calc(100% - 20px) !important;
	text-align: left;
	padding-left: 34px;
	background-position: 10px center;
}
