#app-navigation {
	position: relative;
}

#app-navigation > ul {
	height: calc(100% - 68px);
}

#app-navigation .app-navigation-entry-utils .app-navigation-entry-utils-counter {
	padding: 0 12px 0 0;
}

/* Contacts List */
#new-contact-button {
	margin: 14px auto; /* to have the same height than a contact */
	width: calc(100% - 20px) !important;
	text-align: left;
	background-position: 10px center;
	padding: 10px;
	padding-left: 34px;
	display: block;
}
