.settings-section {
	display: block;
}

.addressBookList form {
	width: 100%;
	display: inline-flex;
}

.addressBookList form input.ng-invalid-pattern {
	border-color: $color-error !important;
}

ul.addressBookList > li {
	padding: 6px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

ul.addressBookList > li.newAddressBookContainer {
	position: relative;
}

ul.addressBookList > li.newAddressBookContainer .tooltip {
	width: 175px;
}

ul.addressBook-share-list {
	margin-top: 8px;
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
	li {
		padding: 0 5px;
		display: inline-flex;
		align-items: center;
		.icon {
			margin-right: 5px;
			opacity: .2;
		}
		.utils {
			display: flex;
			.checkbox + label {
				padding: 0 !important;
			}
		}
	}
}

/* override core apps css */
#app-navigation ul.addressBookList > li span.utils {
	position: relative;
	padding: 0;
	flex-shrink: 0;
	height: 20px;
}

ul.addressBookList li .utils .popovermenu {
	margin-right: -5px;
}

#app-navigation ul.addressBookList li .utils .popovermenu li > button {
	width: 100%;
}

ul.addressBookList li .action {
	opacity: 0.3;
	display: block;
	&:hover {
		opacity: 0.5;
	}
	span {
		cursor: pointer;
	}
}

ul.addressBookList li .action > span {
	display: inline-block;
	width: 24px;
	height: 20px;
}

ul.addressBookList li .action > a {
	padding: 10px 14px;
}

addressBookList input[type='submit'].inline-button,
addressBookList input[type='button'].inline-button {
	position: absolute;
	right: 0;
	padding: 6px 15px;
	background-color: transparent;
	border: none;
	opacity: .5;
	margin-right: 0;
	cursor: pointer;
}

ul.addressBookList li[addressbook] > span.addressBookName {
	width: calc(100% - 52px); /* -actions width */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 7px;
	&.disabled {
		opacity: 0.3;
	}
}

ul.addressBookList li[addressbook] > .addressBookShares {
	width: 100%;
}

li.addressBook-share-item span.shareeIdentifier,
li.calendar-share-item span.shareeIdentifier {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: top;
	opacity: 0.5;
}

div.addressBookShares ul.dropdown-menu {
	border: 1px solid nc-darken($color-main-background, 18%);
	border-radius: 0 0 3px 3px;
	max-height: 200px;
	margin-top: -2px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	background-color: $color-main-background;
	width: 100%;
	z-index: 500;
}

div.addressBookShares ul.dropdown-menu li > a {
	height: 30px !important;
	min-height: 30px !important;
	line-height: 30px !important;
}

ul.dropdown-menu li {
	width: 100%;
	padding: 3px 7px 4px;
	cursor: pointer;
}

ul.dropdown-menu li.active {
	background: nc-darken($color-main-background, 6%);
}

div.app-contacts span.utils {
	padding: 0 !important;
	float: right;
	position: relative !important;
	display: inline-flex;
}

.addressBookUrlContainer {
	width: 100%;
	position: relative;
}

input.renameAddressBookInput,
input.newAddressBookInput,
input.shareeInput,
input.addressBookUrl {
	width: 100% !important;
	margin-right: 0;
	padding-right: 30px;
	text-overflow: ellipsis;
}

.select2-drop .select2-search input {
	width: 100% !important;
	margin-right: 0;
}

/* Contact import */
#app-settings-content #upload.button {
	width: 100%;
	padding: 7px 10px;
	padding-left: 34px;
	background-position: 10px center;
	text-align: left;
	margin: 0;
	display: block;
	margin-bottom: 0;
	border-radius: 3px 3px 0 0;
}

#app-settings-content #upload.button::after {
	left: 17px; /* half the padding */
}

#app-settings-content #upload.button.no-select {
	border-radius: 3px;
}

contactimport {
	margin-bottom: 3px;
}

contactimport .select2-container {
	margin-top: 0;
	width: 100%;
}

contactimport .select2-container::after {
	left: 15px;
}

contactimport .select2-container .select2-choice {
	height: 100%;
	line-height: 31px;
	border-radius: 0 0 3px 3px;
	border-top: none !important;
}

contactimport .select2-drop-active {
	border-top: 1px solid nc-darken($color-main-background, 18%);
	box-shadow: 0 -1px 5px rgba($color-main-background, .15);
	border-radius: 3px 3px 0 0;
	margin-top: initial;
}

contactimport .ui-select-offscreen {
	display: none;
}

contactimport .ui-select-search-hidden {
	display: none;
}

contactimport input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/* Import screen */
#import-sidebar {
	position: absolute;
	width: 250px;
	height: 100%;
	z-index: 500;
	background: rgba(255, 255, 255, 0.6);
}

#importscreen-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: start;
	background: $color-main-background;
	z-index: 500;
}

#importscreen-content {
	width: 300px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#importscreen-title {
	flex-basis: 100%;
	text-align: center;
}

#importscreen-percent {
	opacity: 0.5;
}

#importscreen-user {
	opacity: 0.5;
	padding-top: 5px;
}

/* Copy nextcloud quota bar */
#importscreen-progress {
	display: block;
	width: 100%;
	padding: 0;
	border: 0 none;
	background-color: nc-darken($color-main-background, 10%);
	border-radius: 3px;
	flex-basis: 100%;
	height: 5px;
}

#importscreen-progress::-webkit-progress-bar {
	background: transparent;
}

#importscreen-progress::-moz-progress-bar {
	border-radius: 3px;
	background: $color-primary;
	transition: 500ms all ease-in-out;
}

#importscreen-progress::-webkit-progress-value {
	border-radius: 3px;
	background: $color-primary;
	transition: 500ms all ease-in-out;
}

#importscreen-sidebar-block {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $color-main-background;
	z-index: 500;
	opacity: 0.5;
}
