#check-all + label:before {
	position: absolute;
	top: 18px;
	left: 68px;
}

.contact__icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	vertical-align: middle;
	margin-right: 10px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
}
