.addressbook-shares {
	width: 100%;
	.dropdown-menu {
		border: 1px solid #d1d1d1;
		border-radius: 0 0 3px 3px;
		max-height: 200px;
		margin-top: -2px;
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;
		background-color: #fff;
		position: relative;
		width: 100%;
		z-index: 500;
		top: -2px;
		left: 0px;
		li {
			width: 100%;
			padding: 8px 9px 9px;
			cursor: pointer;
		}
		li.active {
			background: #f0f0f0;
		}
	}
	&__input {
		width: 100% !important;
		margin-right: 0;
		padding-right: 30px;
		text-overflow: ellipsis;
	}
	&__list {
		margin-top: 8px;
		margin-bottom: 12px;
		display: flex;
		flex-direction: column;
	}

	.multiselect-vue {
		width: inherit;

		.multiselect__tags:focus-within, 
		.multiselect__tags:hover {
			border-color: var(--color-primary-element);
		}

		.multiselect__content-wrapper {
			background: #f0f0f0;
			width: inherit;
		}

		&__shareematch--bold {
			font-weight: bold;
		}
	}
}