# App maintainers
* @hamza221 @GVodyanov @SebastianKrupinski 

# Front end
/css @hamza221 @GVodyanov
/src @hamza221 @GVodyanov

# Back end
/lib @hamza221 @SebastianKrupinski

# Release manager
/appinfo/info.xml		@hamza221
