/**
 * SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.addressbook-sharee {
	padding: 0 var(--default-grid-baseline);
	display: inline-flex;
	align-items: center;
	width: 100%;

	.icon {
		margin-right: var(--default-grid-baseline);
		opacity: 0.2;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-bottom: calc(var(--default-grid-baseline) / 2);
		&.icon-loading-small {
			opacity: 1;
		}
	}

	&__identifier {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: inline-block;
		vertical-align: top;
		opacity: 0.7;
	}

	&__utils {
		padding: 0 !important;
		float: right;
		position: relative !important;
		display: inline-flex;
		align-items: center;
		flex-shrink: 0;
		height: 20px;

		.icon-delete {
			display: inline-block;
			width: 20px;
			height: 20px;
			opacity: 0.4;
			margin-bottom: calc(var(--default-grid-baseline) / 2);
			margin-left: var(--default-grid-baseline);
		}

		// loading state
		&--disabled {
			opacity: .2 !important;
		}
		.checkbox + label {
			padding: 0 !important;
		}
		label {
			opacity: 0.7;
		}
	}
}
