<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         verbose="true"
         colors="true"
         timeoutForSmallTests="900"
         timeoutForMediumTests="900"
         timeoutForLargeTests="900">
	<testsuite name='Contacts app tests'>
		<directory>./tests/unit</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">lib</directory>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./clover.unit.xml"/>
	</logging>
</phpunit>
