<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" verbose="true" convertDeprecationsToExceptions="true" colors="true" timeoutForSmallTests="900" timeoutForMediumTests="900" timeoutForLargeTests="900" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./l10n</directory>
      <directory suffix=".php">./templates</directory>
      <directory suffix=".php">./tests</directory>
    </exclude>
  </coverage>
  <testsuite name="Contacts app tests">
    <directory>./tests/unit</directory>
  </testsuite>
</phpunit>
