.contactdetails__header {
	height: 100px;
	padding-left: 20px;
	display: flex;
	color: #fff;
	font-weight: bold;
	align-items: center;
}

.contactdetails__header h2 {
	margin-bottom: 6px;
	margin-left: 8px;
}
.contactdetails__header .contactdetails__name {
	font-size: inherit !important;
	width: 100% !important;
	color: #fff !important;
	background: transparent !important;
	border: none !important;
}

.contactdetails__header .icon-delete-white {
	position: absolute;
	right: 0;
	padding: 15px;
	right: 15px;
	top: 30px;
	background-color: transparent;
	border: none;
	opacity: .5;
}

.contactdetails__logo {
	height: 75px;
	width: 75px;
	background-color: rgba(255, 255, 255, .5);
}

#check-all + label:before {
	position: absolute;
	top: 18px;
	left: 68px;
}

.contact__icon {
	display: inline-block;
	height: 32px;
	width: 32px;
	line-height: 32px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
}

.contactdetails__header + section {
	padding: 20px 20px 100px;
}

detailsitem {
	display: block;
	position: relative;
}

detailsitem label {
	display: inline-block;
	width: 80px;
	padding: 7px 0px;
	text-align: right;
	opacity: .5;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

detailsitem.details-item-note label {
	vertical-align: top;
	padding-top: 10px;
}
detailsitem.details-item-note .icon-delete {
	vertical-align: top;
}
detailsitem.details-item-tel label {
	opacity: 1;
	padding: 0;
}
detailsitem.details-item-tel select {
	width: 80px;
}
detailsitem.details-item-tel .icon-delete {
	vertical-align: middle;
}
detailsitem.details-item-adr {
	padding: 20px 0;
}
detailsitem.details-item-adr .icon-delete {
	position: absolute;
    top: 57px;
    left: 290px;
}
detailsitem .url-link {
	padding: 8px 5px;
	opacity: .5;
}

.select-addressbook,
.add-field {
	margin-left: 83px;
}

detailsitem input[type="text"],
detailsitem input[type="password"],
detailsitem input[type="search"],
detailsitem input[type="number"],
detailsitem input[type="email"],
detailsitem input[type="tel"],
detailsitem input[type="url"],
detailsitem input[type="time"],
detailsitem input[type="date"],
detailsitem textarea,
.select-addressbook select,
.add-field {
	width: 200px;
}

detailsitem .icon-delete {
	background-color: transparent;
	border: none;
	padding: 16px;
	opacity: .3;
}


/* app content list & detail view */
/* TO BE MOVED TO CORE apps.css ONCE STANDARDIZED ACROSS APPS */

.app-content-list {
	width: 30%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.app-content-detail {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.app-content-list-button {
	display: block;
	margin: 10px auto;
	padding: 10px;
}

.app-content-list-item {
	position: relative;
	height: 68px;
	border-top: 1px solid #eee;
	cursor: pointer;
}
.app-content-list-item:hover,
.app-content-list-item:focus,
.app-content-list-item.active {
	background-color: #f8f8f8;
}
.app-content-list-item-link {
	display: block;
	height: 100%;
}

.app-content-list-item-icon {
	position: absolute;
	display: inline-block;
	left: 10px;
	top: 5px;
}

.app-content-list-item-star {
	position: absolute;
	display: inline-block;
	left: 16px;
	top: 28px;
	padding: 20px;
	background-size: 16px;
	z-index: 100;
}

.app-content-list-item-line-one,
.app-content-list-item-line-two {
	position: absolute;
	display: inline-block;
	width: 100%;
	padding: 12px;
	padding-left: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.app-content-list-item-line-one {
}
.app-content-list-item-line-two {
	top: 25px;
	opacity: .5;
}
ul.addressBookList li {
    margin-bottom: 5px;
}

ul.addressBook-share-list {
    margin-top: 8px;
    margin-bottom: 12px;
}

ul.addressBook-share-list li {
    margin-left: 15px;
}

div.addressBookShares ul.dropdown-menu {
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 229px;
    height: 200px;
    margin-top: -5px;
    overflow: scroll;
}

div.addressBookShares ul.dropdown-menu li > a {
    height: 30px !important;
    min-height: 30px !important;
    line-height: 30px !important;
}

ul.dropdown-menu li.active {
    background: #eee;
}

div.app-contacts span.utils {
    padding: 0 !important;
}

input.newAddressBookInput, input.shareeInput {
    width: 100% !important;
}

input.newAddressBookSubmit {
    margin-bottom: 10px;
}

ul.addressBookList li[addressbook] > span.addressBookName {
    padding-left: 7px;
    font-weight: 600;
}

li.addressBook-share-item span.shareeIdentifier {
    max-width: 50px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block;
    vertical-align: top;
}

#app-navigation .utils .action {
    opacity: 0.5;
}

#app-navigation .utils .action:hover {
    opacity: 1;
}

#app-navigation li[addressbook]:hover .utils .action span {
	display: inline-block;
	line-height: 44px;
	height: 16px;
	width: 16px;
	padding: 14px 2px 14px 2px;
	cursor: pointer;
}
