/*!
 * SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$grid-height-unit: 40px;
$grid-input-padding: 7px;
$grid-input-margin: 3px;
$grid-input-height-with-margin: $grid-height-unit - $grid-input-margin * 2;

// components
@import 'SettingsSection';
@import 'Settings/SettingsAddressbookShares';
@import 'Settings/SettingsAddressbookSharee';
@import 'ContactsListItem';
@import 'Properties/Properties';
@import 'ImportScreen';

// various
@import 'animations';

.app-contacts {
	.app-content-details {
		padding: calc(var(--default-grid-baseline) * 2);
		padding-top: 0;
		height: 100%;
		overflow: auto;

		// Compensate top padding reserved for the back button on mobile
		@media (max-width: 1024px) {
			height: calc(100% - 44px);
			padding: 0 calc(var(--default-grid-baseline) * 5);
		}
	}

	.app-content-list {
		// Cancel scrolling
		overflow: visible;
	}
}
