<span class="addressBookName" title="{{ctrl.addressBook.displayName}}">{{ctrl.addressBook.displayName}}</span>
<span class="utils">
	<span class="action">
		<span
			class="addressbooklist-icon icon-public"
			title="{{ctrl.t.showURL}}"
			ng-click="ctrl.toggleShowUrl()">
		</span>
	</span>
	<span class="action">
		<span
			class="icon-more openMenuButton"
			ng-click="ctrl.openMenu($id)">
		</span>
	</span>
	<div class="popovermenu bubble menu"
		 ng-class="{open: $parent.ctrl.openedMenu === $id}"
		 ng-click="ctrl.closeMenus()"
		 click-outside="ctrl.closeMenus()"
		 outside-if-not=".openMenuButton">
		<ul>
			<li ng-show="ctrl.canExport">
				<a href="{{ctrl.addressBook.url}}?export" id="download" title="{{ctrl.t.download}}">
					<span class="icon icon-download"></span>
					<span>{{ctrl.t.download}}</span>
				</a>
			</li>
			<li>
				<button ng-click="ctrl.toggleSharesEditor(ctrl.addressBook)">
					<span class="icon icon-share"></span>
					<span>{{ctrl.t.shareAddressbook}}</span>
				</button>
			</li>
			<li ng-class="{hidden: ctrl.list.length === 1}">
				<button ng-click="ctrl.deleteAddressBook()">
					<span class="icon icon-delete"></span>
					<span>{{ctrl.t.deleteAddressbook}}</span>
				</button>
			</li>
		</ul>
	</div>
</span>
<input class="addressBookUrl" ng-show="ctrl.showUrl" type="url" value="{{ctrl.addressBook.url}}" readonly />
<div class="addressBookShares" ng-show="ctrl.editingShares">
	<i ng-show="ctrl.loadingSharees" class="glyphicon glyphicon-refresh"></i>
	<input
		type="text"
		class="shareeInput"
		uib-typeahead="sharee.display for sharee in ctrl.findSharee($viewValue)"
		typeahead-on-select="ctrl.onSelectSharee($item)"
		typeahead-loading="ctrl.loadingSharees"
		ng-model="ctrl.selectedSharee"
		placeholder="{{ctrl.t.shareInputPlaceHolder}}">
	<ul class="addressBook-share-list">
		<li ng-repeat="userShare in ctrl.addressBook.sharedWith.users" class="addressBook-share-item">
			<span class="shareeIdentifier">{{ userShare.displayname }}</span> -
			<input type="checkbox" name="editable"
				   id="checkbox_sharedWithUser_{{ctrl.addressBook.tmpId}}_{{$id}}"
				   ng-model="userShare.writable" value="edit"
				   ng-change="ctrl.updateExistingUserShare(userShare.id, userShare.writable)">
			<label for="checkbox_sharedWithUser_{{ctrl.addressBook.tmpId}}_{{$id}}"> {{ctrl.t.canEdit}}</label>
			<span class="utils">
				<span class="action">
					<span href="#"
						  id="addressBooklist-icon delete"
						  data-id="{{ ctrl.addressBook.uri }}"
						  title="{{ctrl.t.delete}}"
						  class="icon-delete"
						  ng-click="ctrl.unshareFromUser(userShare.id)">
					</span>
				</span>
			</span>
		</li>
		<li ng-repeat="groupShare in ctrl.addressBook.sharedWith.groups" class="calendar-share-item">
			{{ groupShare.displayname }} (group) -
			<input type="checkbox" name="editable"
				   id="checkbox_sharedWithGroup_{{ctrl.addressBook.tmpId}}_{{$id}}"
				   ng-model="groupShare.writable" value="edit"
				   ng-change="ctrl.updateExistingGroupShare(groupShare.id, groupShare.writable)">
			<label for="checkbox_sharedWithGroup_{{ctrl.addressBook.tmpId}}_{{$id}}"> {{ctrl.t.canEdit}}</label>
			<span class="utils hide">
				<span class="action">
					<span href="#"
						  id="addressBooklist-icon delete"
						  data-id="{{ ctrl.addressBook.uri }}"
						  title="{{ctrl.t.delete}}"
						  class="icon-delete"
						  ng-click="ctrl.unshareFromGroup(groupShare.id)">
					</span>
				</span>
			</span>
		</li>
	</ul>
</div>
