<i ng-show="ctrl.loading" style="display: block" class="icon-loading-small"></i>
<ul class="addressBookList">
	<li ng-repeat="addressBook in ctrl.addressBooks" addressbook data="addressBook" list="ctrl.addressBooks"></li>
	<li>
		<form ng-submit="ctrl.createAddressBook()">
			<input id="newList" placeholder="{{ctrl.t.addressBookName}}" class="newAddressBookInput" ng-model="ctrl.newAddressBookName" type="text" />
			<input type="submit" value="" class="newAddressBookSubmit icon-confirm action pull-right" />
		</form>
	</li>
</ul>
