<label for="details-address">Street address:</label>
<input type="text" id="details-address" name="address" ng-model="ctrl.data.value[2]" value="" />
<label for="details-postal-code">Postal code:</label>
<input type="text" id="details-postal-code" name="postal-code" ng-model="ctrl.data.value[5]" value="" />
<label for="details-city">City:</label>
<input type="text" id="details-city" name="city" ng-model="ctrl.data.value[3]" value="" />
<label for="details-state">State or province:</label>
<input type="text" id="details-state" name="state" ng-model="ctrl.data.value[4]" value="" />
<label for="details-country">Country:</label>
<input type="text" id="details-country" name="state" ng-model="ctrl.data.value[6]" value="" />
