<label ng-if="ctrl.availableOptions.length === 0">{{ctrl.meta.readableName}}</label>
<button ng-click="ctrl.deleteField()" class="icon-delete" title="{{ctrl.t.delete}}"></button>
<div>
	<label for="details-honorificPrefix-{{ctrl.index}}">{{ctrl.t.honorificPrefix}}</label>
	<input type="text" id="details-honorificPrefix-{{ctrl.index}}" name="honorificPrefix" ng-model="ctrl.data.value[3]" ng-model-options="{ debounce: 500 }" ng-change="ctrl.updateDetailedName()"
		   autocomplete="off" autocorrect="off" spellcheck="false" value="" />
</div>
<div>
	<label for="details-firstName-{{ctrl.index}}">{{ctrl.t.firstName}}</label>
	<input type="text" id="details-firstName-{{ctrl.index}}" name="firstName" ng-model="ctrl.data.value[1]" ng-model-options="{ debounce: 500 }" ng-change="ctrl.updateDetailedName()"
		   autocomplete="off" autocorrect="off" spellcheck="false"  value="" />
</div>
<div>
	<label for="details-additionalNames-{{ctrl.index}}">{{ctrl.t.additionalNames}}</label>
	<input type="text" id="details-additionalNames-{{ctrl.index}}" name="additionalNames" ng-model="ctrl.data.value[2]" ng-model-options="{ debounce: 500 }" ng-change="ctrl.updateDetailedName()"
		   autocomplete="off" autocorrect="off" spellcheck="false"  value="" />
</div>
<div>
	<label for="details-familyName-{{ctrl.index}}">{{ctrl.t.familyName}}</label>
	<input type="text" id="details-familyName-{{ctrl.index}}" name="familyName" ng-model="ctrl.data.value[0]" ng-model-options="{ debounce: 500 }" ng-change="ctrl.updateDetailedName()"
		   autocomplete="off" autocorrect="off" spellcheck="false"  value="" />
</div>
<div>
	<label for="details-honorificSuffix-{{ctrl.index}}">{{ctrl.t.honorificSuffix}}</label>
	<input type="text" id="details-honorificSuffix-{{ctrl.index}}" name="honorificSuffix" ng-model="ctrl.data.value[4]" ng-model-options="{ debounce: 500 }" ng-change="ctrl.updateDetailedName()"
		   autocomplete="off" autocorrect="off" spellcheck="false"  value="" />
</div>
