<label for="details-{{ctrl.name}}">{{ctrl.meta.readableName}}</label>
<input type="url" id="details-{{ctrl.name}}" name="{{ctrl.name}}"
	   ng-model="ctrl.data.value" ng-model-options="{ debounce: 500, allowInvalid: true }"
	   ng-change="ctrl.model.updateContact()" value=""
	   placeholder="https://…"
	   focus-expression="$parent.ctrl.focus === ctrl.name"
/>
<button ng-click="ctrl.deleteField()" class="icon-delete" title="{{ctrl.t.delete}}"></button>
<a ng-if="ctrl.data.value.length" class="url-link" target="_blank" href="{{ctrl.data.value}}">↗</a>
