<label for="details-{{ctrl.name}}-{{ctrl.index}}">{{ctrl.meta.readableName}}</label>
<a ng-if="ctrl.data.value.length" class="item-action" target="_blank" href="{{ctrl.data.value}}">
	<i class="icon-external"></i>
</a>
<input type="url" id="details-{{ctrl.name}}-{{ctrl.index}}" name="{{ctrl.name}}"
	   ng-model="ctrl.data.value" ng-model-options="{ debounce: 500, allowInvalid: true }"
	   ng-change="ctrl.updateContact()" value=""
	   placeholder="https://…"
	   focus-expression="$parent.ctrl.focus === ctrl.name"
	   ng-disabled="ctrl.contact.readOnly"
/>
<button ng-click="ctrl.deleteField()" class="icon-delete" title="{{ctrl.t.delete}}" ng-if="!ctrl.contact.readOnly"></button>
